body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.base {
    width: 400px;
    max-height: 600px; /* Set a minimum height instead of a fixed height */
    border-radius: 0px;
    overflow: auto; /* Add scroll to the card if content overflows */
}


.notifications-button{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}